.header{
  background-color: $dark;
  position: fixed;
  width: 100%;
  &-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 15px 0;
  }
  &-logo{
    display: grid;
    align-items: center;
    img{
      height: 50px;
    }
  }
  .active-sidebar{
    right: 0;
  }
  &-contacts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: $white;
    img{
      height: 50px;
      grid-row: 1 / 3;
      justify-self: end;
    }
  }
  &-btn{
    display: grid;
    div{
      cursor: pointer;
    }
    span{
      display: block;
      width: 40px;
      height: 4px;
      background-color: $white;
      margin: 5px 0;
    }
  }
  &-sidebar{
    position: absolute;
    top: 0;
    right: -280px;
    width: 280px;
    height: 100vh;
    background-color: $dark;
    opacity: 0.5;
    transition: 0.3s;
    overflow: hidden;
  }
  .sidebar{
    padding: 20px;
    &-list{
      padding-top: 150px;
    }
    &-item{
      margin: 20px 0;
      a{
        font-size: 18px;
        color: $white;
        text-transform: uppercase;
        opacity: 1;
        position: relative;
        z-index: 1;
      }
    }
  }
}