/* src/assets/styles/components/_menu.scss  */

.menu {
  position: fixed;
  top: 84px;
  color: white;
  width: 100%;
  padding: 15px;
  background-color: $gray;
  opacity: 0.7;
}
.menu__ul {
  display: flex;
  align-items: center;
}
.menu__item {
  display: flex;
  align-items: center;
  img{
    width: 30px;
  }
  & + .menu__item {
    margin-left: 20px;
  }
}
.menu__link {
  color: white;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  &:hover,
  &.active {
    border-color: white;
  }
}
