extends ../layouts/master.pug

block title
  title My Page - Contact

block basicSeo
  meta(name='description' content='Contact page')
  meta(name='keywords', content='contact, page')
  meta(name='author' content='')

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  // Menu
  +menu('contact')

  //- Desktop page
  section.s-page
    h1.s-page-title Какие услуги мы оказываем
    .s-content.tv#tv
      .tv-container.container
        h2.tv-title.serv-title Ремонт телевизоров
        .s-list
          .s-content-list
            .content-list-item
              img(src="/assets/images/services/loop.svg", alt="")
              h3 Замена матриц
              span от 430 грн
            .content-list-item
              img(src="/assets/images/services/maintenance.svg", alt="")
              h3 Замена ламп
              span от 150 грн
            .content-list-item
              img(src="/assets/images/services/matrix.svg", alt="")
              h3 Замена шлейфов
              span от 350 грн
            .content-list-item
              img(src="/assets/images/services/repair.svg", alt="")
              h3 Замена экранов
              span от 450 грн
            .content-list-item
              img(src="/assets/images/services/repair.svg", alt="")
              h3 Ремонт тюнеров
              span от 300 грн
          .s-content-img
            img(src="/assets/images/services/tv.png", alt="")
    .s-content.computers#computers
      .computers-container.container
        h2.phone-title.serv-title Ремонт компьютеров
        .s-list
          .s-content-list
            .content-list-item
              img(src="/assets/images/services/windows.svg", alt="")
              h3 Установка Windows
              span от 250 грн
            .content-list-item
              img(src="/assets/images/services/cleaning.svg", alt="")
              h3 Чистка ноутбука и замена термопасты
              span от 300 грн
            .content-list-item
              img(src="/assets/images/services/power-supply.svg", alt="")
              h3 Подбор и замена блока питания
              span от 150 грн
            .content-list-item
              img(src="/assets/images/services/graphics-card.svg", alt="")
              h3 Подбор и замена видеокарты
              span от 200 грн
          .s-content-img
            img(src="/assets/images/services/pc.png", alt="")
    .s-content.fridge#fridge
      .fridge-container.container
        h2.fridge-title.serv-title Ремонт холодильников
        .s-list
          .s-content-list
            .content-list-item
              img(src="/assets/images/services/loop.svg", alt="")
              h3 Диагностика неполадок
              span от 250 грн
            .content-list-item
              img(src="/assets/images/services/ice.svg", alt="")
              h3 Заправка холодильника фреоном  R12, R134a, R600a
              span от  300 грн
            .content-list-item
              img(src="/assets/images/services/repair.svg", alt="")
              h3 Замена терморегулятора, термостата, пускового реле
              span от 250 грн
            .content-list-item
              img(src="/assets/images/services/repair.svg", alt="")
              h3 Ремонт электронного модуля
              span от 450 грн
            .content-list-item
              img(src="/assets/images/services/repair.svg", alt="")
              h3 Диагностика в случае ремонта
              span Бесплатно!
          .s-content-img
            img(src="/assets/images/services/fridge.png", alt="")
    .s-content.conditioners#conditioners
      .conditioners-container.container
        h2.conditioners-title.serv-title Ремонт кондиционеров
        .s-list
          .s-content-list
            .content-list-item
              img(src="/assets/images/services/loop.svg", alt="")
              h3 Ремонт платы управления блока
              span от 700 грн
            .content-list-item
              img(src="/assets/images/services/ice.svg", alt="")
              h3 Устранение пропусков фреона 
              span от 400 грн
            .content-list-item
              img(src="/assets/images/services/relay.svg", alt="")
              h3 Замена теплового реле
              span от 800 грн
            .content-list-item
              img(src="/assets/images/services/repair.svg", alt="")
              h3 Ремонт крыльчатки вентилятора 
              span от 500 грн
          .s-content-img
            img(src="/assets/images/services/conditioner.png", alt="")
    .s-content.washing-machine#washing-machine
      .washing-machine-container.container
        h2.washing-machine-title.serv-title Ремонт стиральных машин
        .s-list
          .s-content-list
            .content-list-item
              img(src="/assets/images/services/loop.svg", alt="")
              h3 Замена ТЭНа 
              span от 300 грн
            .content-list-item
              img(src="/assets/images/services/maintenance.svg", alt="")
              h3 Ремонт электронных плат 
              span от 350 грн
            .content-list-item
              img(src="/assets/images/services/ice.svg", alt="")
              h3 Чистка и замена фильтров
              span от 100 грн
            .content-list-item
              img(src="/assets/images/services/repair.svg", alt="")
              h3 Замена подшипников
              span от 400 грн
          .s-content-img
            img(src="/assets/images/services/washing-machine.png", alt="")
    .s-content.boilers#boilers
      .boilers-container.container
        h2.boilers-title.serv-title Ремонт бойлеров
        .s-list
          .s-content-list
            .content-list-item
              img(src="/assets/images/services/spade.svg", alt="")
              h3 Замена ТЭНа
              span от 250 грн
            .content-list-item
              img(src="/assets/images/services/window.svg", alt="")
              h3 Замена фланца
              span от 200 грн
            .content-list-item
              img(src="/assets/images/services/parquet.svg", alt="")
              h3 Замена термостата
              span от 150 грн
            .content-list-item
              img(src="/assets/images/services/repair.svg", alt="")
              h3 Чистка от грязи
              span 200 грн
          .s-content-img
            img(src="/assets/images/services/boiler.png", alt="")       
    .s-content.building#building
      .building-container.container
        h2.building-title.serv-title Строительные работы
        .s-list
          .s-content-list
            .content-list-item
              img(src="/assets/images/services/spade.svg", alt="")
              h3 Укладка плитки
              span от 100 грн
            .content-list-item
              img(src="/assets/images/services/window.svg", alt="")
              h3 Стяжка пола
              span от 150 грн
            .content-list-item
              img(src="/assets/images/services/parquet.svg", alt="")
              h3 Покраска стен
              span от 90 грн
            .content-list-item
              img(src="/assets/images/services/repair.svg", alt="")
              h3 Кровельные работы
              span от 200 грн
          .s-content-img
            img(src="/assets/images/services/building.png", alt="")    
    .s-content.electrician#electrician
      .electrician-container.container
        h2.electrician-title.serv-title Услуги электрика
        .s-list
          .s-content-list
            .content-list-item
              img(src="/assets/images/services/spade.svg", alt="")
              h3 Монтаж розеток
              span  от 70 грн
            .content-list-item
              img(src="/assets/images/services/window.svg", alt="")
              h3 Ремонт включателей
              span от 100 грн
            .content-list-item
              img(src="/assets/images/services/parquet.svg", alt="")
              h3 Монтаж счетчика
              span от 250 грн
            .content-list-item
              img(src="/assets/images/services/repair.svg", alt="")
              h3 Установка люстры
              span от 300 грн
          .s-content-img
            img(src="/assets/images/services/electrician.png", alt="")
    .s-content.transport#transport
      .transport-container.container
        h2.transport-title.serv-title Грузоперевозки
        .s-list
          .s-content-list
            .content-list-item
              img(src="/assets/images/services/spade.svg", alt="")
              h3 Аренда автомобиля
              span от 250 грн за 1 час
            .content-list-item
              img(src="/assets/images/services/window.svg", alt="")
              h3 Помощь грузчиков
              span от 100 грн за 1 час
          .s-content-img
            img(src="/assets/images/services/truck.png", alt="")

