/* src/assets/styles/layout/_general.scss  */

* {
  box-sizing: border-box;
  outline: none;
}
html,
body {
  height: 100%;
}


body {
  font-family: $quicksand;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
a {
  text-decoration: none;
  &:visited {
    color: white;
  }
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.container{
  max-width: $desktop;
  margin: 0 auto;
}
@media screen and(max-width: $desktop) {
  .container{
    max-width: 960px;
  }
}
@media screen and(max-width: $tablet) {
  .container{
    max-width: 780px;
  }
}
@media screen and(max-width: $mobile) {
  .container{
    max-width: 760px;
  }
}
