.page{
  .wrapper{
    background: url('/assets/images/bg.jpg') center top no-repeat;
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 50px;
  }
  &-title{
    text-align: center;
    margin-bottom: 50px;
    color: $light;
    font-size: 48px;
  }
  &-form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    padding: 0 200px;
    margin-bottom: 50px;
  }
  &-select{
    height: 56px;
    background-color: $yellow;
    padding-left: 40px;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    &:before{
      content: '';
      background: url('/assets/images/wrench.svg');
      display: block;
      position: absolute;
      z-index: 1;
      width: 30px;
      height: 30px;
      left: 20px;
      top: 50%;
    }
  }
  &-phone-input{
    text-transform: capitalize;
    background-color: $yellow;
    padding-left: 40px;
    position: relative;
    font-size: 20px;
    font-weight: 500;
  }
  &-send-form{
    text-transform: capitalize;
    background-color: $yellow;
    padding-left: 30px;
    position: relative;
    font-size: 20px;
    font-weight: 500;
  }
  &-subtitle{
    text-align: center;
    color: $yellow;
    font-size: 36px;
  }
}
.services{
  background-color: $yellow;
  padding-bottom: 50px;
  padding-top: 50px;
  &-title{
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    text-transform: uppercase;
    position: relative;
    &:before, &::after{
      content: '';
      display: block;
      position: absolute;
      top: 18px;
      width: 440px;
      height: 2px;
      background-color: $dark;
    }
    &:before{
      left: 0;
    }
    &:after{
      right: 0;
    }
  }
  &-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  &-item{
    display: grid;
    place-items: center;
    grid-template-rows: 50px 1fr 1fr;
    border-radius: 10px;
    background-color: $light;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 50px;
    img{
      width: 50px;
    }
  }
  &-cta{
    h3{
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 20px;
      font-size: 24px;
    }
    p{
      text-align: center;
      margin-bottom: 20px;
    }
    span{
      display: block;
      text-align: center;
      font-size: 24px;
    }
  }
}
.workflow{
  padding-top: 50px;
  padding-bottom: 50px;
  &-title{
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    text-transform: uppercase;
    position: relative;
    &:before, &::after{
      content: '';
      display: block;
      position: absolute;
      top: 18px;
      width: 380px;
      height: 2px;
      background-color: $dark;
    }
    &:before{
      left: 0;
    }
    &:after{
      right: 0;
    }
  }
  &-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  &-item{
    display: grid;
    place-items: center;
    img{
      width: 100px;
    }
    p{
      text-align: center;
    }
  }
}
.advantages{
  padding: 50px 0;
  background-color: $yellow;
  &-title{
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    text-transform: uppercase;
    position: relative;
    &:before, &::after{
      content: '';
      display: block;
      position: absolute;
      top: 18px;
      width: 380px;
      height: 2px;
      background-color: $dark;
    }
    &:before{
      left: 0;
    }
    &:after{
      right: 0;
    }
  }
  &-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
  }
  &-item{
    display: grid;
    place-items: center;
    border: 1px solid $dark;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
      background-color: $light;
    }
    img{
      width: 150px;
    }
  }
  &-cta{
    text-align: center;
    span{
      padding-top: 20px;
      font-weight: 500;
      display: block;
      font-size: 24px;
    }
  }
}