.main{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/images/bg.png');
  // background: url('/assets/images/bg.png');
  &__wrapper{
    // background-color: #000;
    // opacity: 0.7;
    padding-top: 92px;
    padding-bottom: 193px;
  }
  &__title{
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    color: $light;
    margin-bottom: 26px;
  }
  &__subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: $light;
    margin-bottom: 55px;
  }
  &__form{
    display: grid;
    grid-template-columns: repeat(3, 275px);
    grid-column-gap: 20px;
    justify-content: center;
    height: 60px;
    .form__select,.form__input{
      background-color: #000;
      position: relative;
      z-index: 10;
      border-radius: 10px;
      border: 2px solid $orange;
      padding-left: 45px;
      color: $light;
      font-weight: 500;
      &::placeholder{
        color: $light;
        font-weight: 500;
      }
      &:focus{
        border: 2px solid $orange;
      }
    }
    .form__submit{
      background-color: $orange;
      color: $light;
      border-radius: 10px;
      border: transparent;
      transition: 0.3s;
      font-weight: 700;
      &:hover{
        background-color: #D72700;
      }
    }
  }
}
.services{
  padding-top: 65px;
  padding-bottom: 80px;
  &__title{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-column-gap: 20px;
    align-items: center;
    margin-bottom: 60px;
    hr{
      border: 1px solid #FF2F00;
    }
    h2{
      font-weight: bold;
      font-size: 35px;
      line-height: 43px;
    }
  }
  a{
    text-decoration: none;
    color: $gray;
    &:hover{
      color: $gray;
    }
  }
  &__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  &__item{
    display: grid;
    padding: 18px;
    height: 100%;
    grid-template-columns: 55px 1fr;
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    grid-template-rows: auto 1fr;
    transition: 0.3s;
    &:hover{
      border: 2px solid $orange;
    }
    h3{
      color: #000;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
    }
    p{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 131%;
      grid-column: 2;
      color: $gray;
    }
  }
}
.didnt-find{
  background-color: #000;
  padding-top: 30px;
  &__title{
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    color: #FFFFFF;

  }
  &__subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.6;
  }
  &__contact{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 18px;
    li{
      list-style-type: none;
      color: #fff;
    }
    li:first-child{
      display: grid;
      grid-template-columns: auto auto;
      justify-content: end;
    }
  }
  &__stripes{
    background: repeating-linear-gradient(
      -45deg,
      #000,
      #000 45px,
      #303030 45px,
      #303030 90px
    );
    height: 38px;
  }
}
.workflow{
  padding-top: 67px;
  padding-bottom: 80px;
  &__title{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-column-gap: 20px;
    align-items: center;
    margin-bottom: 60px;
    hr{
      border: 1px solid #FF2F00;
    }
    h2{
      font-weight: bold;
      font-size: 35px;
      line-height: 43px;
    }
  }
  &__list{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 30px;
  }
  &__item{
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    list-style-type: none;
    display: grid;
    text-align: center;
    grid-template-rows: 70px auto 1fr;
    justify-items: center;
    span{
      display: grid;
      justify-content: center;
      align-items: center;
      background-color: $orange;
      color: $light;
      font-weight: bold;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      font-size: 24px;
      line-height: 29px;
    }
  }
}
.advantages{
  padding-top: 65px;
  padding-bottom: 80px;
  &__title{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-column-gap: 20px;
    align-items: center;
    margin-bottom: 60px;
    hr{
      border: 1px solid #FF2F00;
    }
    h2{
      font-weight: bold;
      font-size: 35px;
      line-height: 43px;
    }
  }
  &__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    li{
      list-style-type: none;
      display: grid;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: $dark;
      padding-right: 80px;
      img{
        margin-bottom: 20px;
      }
    }
  }
}

.help{
  padding-top: 60px;
  padding-bottom: 80px;
  &__container{
    display: grid;
    grid-template-rows: auto auto;
  }
  &__title{
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    margin-bottom: 40px;
  }
  &__btn{
    background-color: $orange;
    width: 275px;
    height: 60px;
    margin: 0 auto;
    border-radius: 10px;
    border: transparent;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
  }
}


@media screen and (max-width: 767.98px){
  .container{
    padding: 0 15px;
  }
  .header__logo span, .header__menu{
    display: none;
  }
  .header__contact{
    .contact__item{
      grid-template-columns: auto 1fr;
      span{
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  .main{
    background: url('/assets/images/bg-mobile.png');
  }
  .main__title{
    font-weight: bold;
    font-size: 23px;
    line-height: 135%;
  }
  .main__subtitle{
    font-size: 16px;
    line-height: 134.4%;
  }
  .main__form{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 60px);
    grid-row-gap: 10px;
  }
  .services,.advantages,.workflow{
    &__title{
      h2{
        font-size: 25px;
        line-height: 30px;
      }
    }
    &__list{
      grid-template-columns: 1fr;
    }
  }
  .didnt-find{
    &__title{
      font-size: 23px;
      line-height: 28px;
    }
    &__subtitle{
      font-weight: 500;
      font-size: 16px;
      line-height: 134.4%;
    }
    &__contact{
      grid-template-columns: 1fr;
      li{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center !important;
      }
    }
  }
  .workflow{
    &__list{
      grid-template-columns: 1fr;
    }
  }
  .advantages{
    &__title{
      font-size: 25px;
      line-height: 30px;
    }
    &__list{
      grid-template-columns: 1fr;
      li{
        padding-right: 0;
      }
    }
  }
  .help{
    &__title{
      font-weight: bold;
      font-size: 23px;
      line-height: 28px;
    }
  }
  .footer{
    &__list{
      grid-template-columns: 1fr;
    }
  }
}