footer.footer
  .footer__stripes
  .footer__container.container
    h3.footer__title Контакты службы поддержки
    ul.footer__list
      li.footer__item
        img(src='/assets/images/phone.svg' alt='')
        span +38 (063) 764-28-76
      li.footer__item
        img(src='/assets/images/phone.svg' alt='')
        span +38 (095) 461-34-68
      li.footer__item
        img(src='/assets/images/mail.svg' alt='')
        span olegbzik@gmail.com
    .footer__cta
      | Звоните 
      span 24
      |  часа, без выходных
