footer.footer
  .footer-container.container
    .footer-img
      a(href="/"): img(src="/assets/images/wrench.svg", alt="")
    ul.footer-links.links
      li.links-item
        a(href="") О проекте
      li.links-item
        a(href="") Публичная оферта
      li.links-item
        a(href="") Конфиденциальность
      li.links-item
        a(href="") Блог 
    .footer-contacts.f-contacts
      h3.f-contacts-title Контакты службы поддержки
      .f-contacts-list
        img(src="/assets/images/smartphone.svg", alt="")
        div
          span +38 063 764 28 76
          br
          span +38 095 461 34 68
      .f-contacts-list
        img(src="/assets/images/mail.svg", alt="")
        span info@master911.com.ua
      .f-contacts-list
        img(src="/assets/images/clock.svg", alt="")
        span Телефонуйте 24 години, без вихідних