header.header
  .header-container.container
    .header-logo
      a(href="/"): img(src="/assets/images/wrench.svg", alt="")
    .header-contacts
      .contacts-phone
        span +38 063 764 28 76
        span +38 095 461 34 68
      .contacts-info
        span Звоните 24 часа, без выходных
    .header-btn
      div
        span
        span
        span
  .header-sidebar.sidebar
    ul.sidebar-list
      li.sidebar-item
          a(href="/#main") главная
      li.sidebar-item
        a(href="/#services") услуги
      li.sidebar-item
        a(href="/#workflow") как мы работаем
      li.sidebar-item
        a(href="/#advantages") преимущества
      li.sidebar-item
        a(href="/contact") контакты
