header.header
  .header__container.container.row.no-gutters
    .header__logo.col-6.col-md-4
      a(href='/')
        img(src='/assets/images/logo.svg' alt='')
        span мастер на все руки
    .header__menu.col-3.offset-1
      ul.menu__list
        li.menu__item
          a(href='/') Главная
        li.menu__item
          a(href='/blog') Услуги
        li.menu__item
          a(href='/contact') Контакты
    .header__contact.col-6.col-md-3.offset-md-1
      .contact__item
        img(src='/assets/images/phone.svg' alt='')
        a(href="tel:0954613468") +38 (095) 461-34-68
      .contact__item
        img(src='/assets/images/phone.svg' alt='')
        a(href="tel:0637642876") +38 (063) 764-28-76

